.App {
  height: 100vh;
  background-color: #f0f0f0; /* Change the background color of the entire app */
}

.LeftPane {
  height: 100vh; /* Make the left pane take up the full height of the page */
  background-color: #ffffff; /* Background color for the left pane */
}

.CodeEditorContainer {
  height: 100vh; /* Make the container take up the full height of the page */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.CodeMirror {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Make the code editor take up the full width of the container */
  height: 100%; /* Make the code editor take up the full height of the container */
  background-color: #2e3440; /* Change the background color of the code editor */
  color: #d8dee9; /* Change the text color for better contrast */
}

.split {
  display: flex;
  height: 100vh;
}

.split > div {
  flex: 1;
}

.split > .gutter {
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: 50%;
}

.split > .gutter.gutter-horizontal {
  cursor: col-resize;
}